:root {
  --color-primary: #FFAA5B;
  --color-primary-light: #FFBB7C;
  --color-primary-dark: #D68D49;
  --color-background: #FCD9B9;
  --color-on-surface: #0D1016;
  --color-grey: #83817D;
  --color-white: #FFFFFF;
  --color-error: #ff0000;
  --color-default: #EBEFF5;
  --font-primary: 'Inter', sans-serif;
}